@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: antiquewhite;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@layer utilities {
	.max-container {
		max-width: 340px;
		width: 100%;
	}
}
